<div class="top-articles">
      <div class="top-articles__inner">
            <div class="top-articles__header">
                  <h2 class="top-articles__heading">Articles & Travel Guidings</h2>
                  <p class="top-articles__desc">
                        Travel has helped us to understand the meaning of life and it has helped us become better
                        people. Each time we travel, we see the world with new eyes.
                  </p>
            </div>
            <div class="top-articles__separate">
                  <svg xmlns="http://www.w3.org/2000/svg" width="124" height="2" viewBox="0 0 124 2" fill="none">
                        <path
                              d="M1 1H123"
                              stroke="#FF7B29"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-dasharray="4 4"
                        />
                  </svg>
            </div>
            <div class="articles">
                  <div class="row row-cols-2 row-cols-lg-1">
                        <div class="col">
                              <div class="articles__card special">
                                    <img class="articles__thumb" alt="" src="../../../assets/images/article-1.png" />
                                    <div class="articles__row">
                                          <h3 class="articles__name">
                                                The real voyage does not consist in seeking new
                                          </h3>
                                          <p class="articles__date">Jun 1, 2022</p>
                                    </div>
                                    <p class="articles__text">
                                          Excited him now natural saw passage offices you minuter. At by asked being
                                          court hopes.
                                    </p>
                              </div>
                        </div>
                        <div class="col">
                              <div class="articles__list">
                                    <div class="articles__card small">
                                          <img
                                                class="articles__thumb"
                                                alt=""
                                                src="../../../assets/images/article-2.png"
                                          />
                                          <div class="articles__wrap-content">
                                                <h3 class="articles__name">Mountains is always right destination.</h3>

                                                <p class="articles__text">Farther so friends am to detract forbade</p>
                                                <p class="articles__date">Jun 1, 2022</p>
                                          </div>
                                    </div>
                                    <div class="articles__card small">
                                          <img
                                                class="articles__thumb"
                                                alt=""
                                                src="../../../assets/images/article-3.png"
                                          />
                                          <div class="articles__wrap-content">
                                                <h3 class="articles__name">
                                                      Here Our's Life is either a daring adventure.
                                                </h3>

                                                <p class="articles__text">
                                                      One of the programs is Save Our I have personally.
                                                </p>
                                                <p class="articles__date">Jun 1, 2022</p>
                                          </div>
                                    </div>
                                    <div class="articles__card small">
                                          <img
                                                class="articles__thumb"
                                                alt=""
                                                src="../../../assets/images/article-4.png"
                                          />
                                          <div class="articles__wrap-content">
                                                <h3 class="articles__name">
                                                      Here Our's Life is either a daring adventure.
                                                </h3>

                                                <p class="articles__text">
                                                      Life is either a daring adventure or it's nothing
                                                </p>
                                                <p class="articles__date">Jun 1, 2022</p>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
