@use '../../../scss/abstract/' as abstract;

.top-articles {
      &__inner {
            padding-bottom: 100px;
      }

      &__heading {
            text-align: center;
            color: #2d3134;
            letter-spacing: 1.1px;
            font-size: 4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.25;
      }

      &__desc {
            width: min(733px, 100%);
            margin-left: auto;
            margin-right: auto;
            margin-top: 16px;
            text-align: center;
            color: var(--Typography-2, #676a6c);
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.625;
      }

      &__separate {
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
      }
}

.articles {
      margin-top: 60px;

      &__card.special {
            //  background-color: aqua;
            width: min(542, 100%);
      }

      &__card.special &__thumb {
            width: 100%;
            object-fit: cover;
            border-radius: 12px;
            cursor: pointer;
      }

      &__card.small {
            width: fit-content;
            //  background-color: red;
            display: flex;
            gap: 36px;
            margin-left: auto;

            @include abstract.breakpoint(lg) {
                  width: 100%;
                  margin-left: 0;
            }
      }

      &__card.small:not(:nth-child(1)) {
            margin-top: 34px;
      }

      &__card:nth-child(1) {
            @include abstract.breakpoint(lg) {
                  margin-top: 40px;
            }

            @include abstract.breakpoint(md) {
                  margin-top: 30px;
            }
      }

      &__card.small &__thumb {
            width: 220px;
            height: 219;
            border-radius: 12px;
            cursor: pointer;
            object-fit: cover;
      }

      &__wrap-content {
            width: 253px;
      }

      &__row {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
      }

      &__card.special &__row {
            margin-top: 42px;
      }

      &__card.special &__name {
            width: min(359px, 100%);
            color: var(--Typography-1, #2d3134);
            font-size: 2.6rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.46;
      }
      &__card.small &__name {
            color: var(--Typography-1, #2d3134);
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.45;
      }

      &__name {
            cursor: pointer;
      }

      &__date {
            color: var(--Typography-2, #676a6c);
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1;
      }

      &__card.special &__text {
            width: min(412px, 100%);
            margin-top: 14px;
            color: var(--Typography-2, #676a6c);
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.44;
      }

      &__card.small &__text {
            margin-top: 12px;
            margin-bottom: 50px;
            color: var(--Typography-2, #676a6c);
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.625;
      }
}
