<header class="header">
      <div class="container header__inner top">
            <div class="top__logo">
                  <img alt="Safe Tour" src="../assets/icons/logo.svg" />
            </div>
            <nav class="nav">
                  <ul class="nav__list">
                        <li class="nav__item">
                              <div class="nav__link">
                                    <span class="nav__title">Home</span>
                              </div>
                        </li>
                        <li class="nav__item">
                              <div class="nav__link">
                                    <span class="nav__title">About</span>
                              </div>
                        </li>
                        <li class="nav__item">
                              <div class="nav__link active">
                                    <span class="nav__title">Destinations</span>
                              </div>
                        </li>
                        <li class="nav__item">
                              <div class="nav__link">
                                    <span class="nav__title">Blog</span>
                              </div>
                        </li>
                        <li class="nav__item">
                              <div class="nav__link">
                                    <span class="nav__title">Pages</span>
                              </div>
                        </li>
                  </ul>
            </nav>
            <div class="top__action">
                  <button class="top__action-btn">Contact Us</button>
            </div>
      </div>
</header>
