@import url('/assets/fonts-switter/stylesheet.css');

:root {
}

* {
      box-sizing: border-box;
      margin: 0;
}

html {
      font-size: 62.5%;
}

body {
      font-size: 1.6rem;
      font-family: 'Switzer', sans-serif;
}
input {
      background-color: transparent;
      border: none;
      outline: none;
      font-family: inherit;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}
input[type='number'] {
      -moz-appearance: textfield; /* Firefox */
}
