<div class="best-tours">
      <div class="best-tours__inner">
            <div class="best-tours__header">
                  <div class="best-tours__row">
                        <h2 class="best-tours__heading">Our Bets Tour</h2>
                        <p class="best-tours__desc">
                              These are also locations where it’s easy to feel healthier, happier and less stressed than
                              in America. And for more destinations on the Global Retirement Index.
                        </p>
                  </div>
                  <button class="button primary">See All Tours</button>
            </div>
            <div class="best-tours__list">
                  <div class="row row-cols-3 row-cols-lg-2 row-cols-md-1 g-3">
                        <div class="col">
                              <div class="tour-card">
                                    <a href="#!">
                                          <img
                                                class="tour-card__thumbnail"
                                                alt=""
                                                src="../../../assets/images/tour-1.png"
                                          />
                                    </a>
                                    <div class="tour-card__content">
                                          <div class="tour-card__price">$150/day</div>
                                          <h3 class="tour-card__name">Cairms Travel</h3>
                                          <div class="tour-card__row">
                                                <img alt="" src="../../../assets/icons/location.svg" />
                                                <p class="tour-card__desc">Carrns QLD, Australia</p>
                                          </div>
                                          <div class="tour-card__bottom">
                                                <div class="tour-card__row">
                                                      <img alt="" src="../../../assets/icons/calendar.svg" />
                                                      <p class="tour-card__desc">Oct 28, 2023</p>
                                                </div>
                                                <div class="tour-card__row">
                                                      <img alt="" src="../../../assets/icons/time.svg" />
                                                      <p class="tour-card__desc">5 Days</p>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="col">
                              <div class="tour-card">
                                    <a href="#!">
                                          <img
                                                class="tour-card__thumbnail"
                                                alt=""
                                                src="../../../assets/images/tour-2.png"
                                          />
                                    </a>
                                    <div class="tour-card__content">
                                          <div class="tour-card__price">$110/day</div>
                                          <h3 class="tour-card__name">Orlando Travel</h3>
                                          <div class="tour-card__row">
                                                <img alt="" src="../../../assets/icons/location.svg" />
                                                <p class="tour-card__desc">Orlando, FL, USA</p>
                                          </div>
                                          <div class="tour-card__bottom">
                                                <div class="tour-card__row">
                                                      <img alt="" src="../../../assets/icons/calendar.svg" />
                                                      <p class="tour-card__desc">Jul 30, 2023</p>
                                                </div>
                                                <div class="tour-card__row">
                                                      <img alt="" src="../../../assets/icons/time.svg" />
                                                      <p class="tour-card__desc">3 Days</p>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="col">
                              <div class="tour-card">
                                    <a href="#!">
                                          <!-- <img
                                                class="tour-card__thumbnail"
                                                alt=""
                                                src="../../../assets/images/tour-3.png"
                                          /> -->

                                          <img
                                                class="tour-card__thumbnail"
                                                alt=""
                                                src="https://images.squarespace-cdn.com/content/v1/5cb9ef147eb88c5caefa30b3/1588959849622-MUSD6COUOEJFIOSU1ULU/1+Tu+Nguyen+Masai+Mara+Kenya+87.jpg?format=1500w"
                                          />
                                    </a>
                                    <div class="tour-card__content">
                                          <div class="tour-card__price">$136/day</div>
                                          <h3 class="tour-card__name">Malaysia</h3>
                                          <div class="tour-card__row">
                                                <img alt="" src="../../../assets/icons/location.svg" />
                                                <p class="tour-card__desc">Malaysia</p>
                                          </div>
                                          <div class="tour-card__bottom">
                                                <div class="tour-card__row">
                                                      <img alt="" src="../../../assets/icons/calendar.svg" />
                                                      <p class="tour-card__desc">Jul 29, 2023</p>
                                                </div>
                                                <div class="tour-card__row">
                                                      <img alt="" src="../../../assets/icons/time.svg" />
                                                      <p class="tour-card__desc">5 Days</p>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
