.login {
      &__inner {
            display: flex;
            //   align-items: center;
      }

      &__info {
            flex: 1;
            flex-shrink: 0;
            display: flex;
            // align-items: center;
            justify-content: center;
      }

      &__wrap {
            width: 360px;
      }
      &__heading {
            margin-top: 40px;
            color: #010101;

            font-size: 3.3rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.5;
      }

      &__text {
            margin-top: 6px;
            color: #777e90;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.3;
      }

      &__socials {
            margin-top: 18px;
      }

      &__social {
            cursor: pointer;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            border-radius: 6px;
            border: 1px solid #d8dadc;
            gap: 8px;

            p {
                  color: #010101;
                  font-size: 1.6rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 1.5;
            }
      }

      &__social + &__social {
            margin-top: 8px;
      }

      &__social-icon {
            display: block;
            width: 28px;
            height: 28px;

            &.facebook-f {
                  margin-left: 16px;
                  filter: brightness(0) saturate(100%) invert(25%) sepia(90%) saturate(5378%) hue-rotate(197deg)
                        brightness(96%) contrast(84%);
            }
      }

      &__separate {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            gap: 12px;

            span {
                  color: #777e90;
                  font-size: 1.4rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 1.7;
            }
      }

      &__line {
            flex: 1;
            height: 1px;
            background: #e7ebf0;
      }

      &__intro {
            flex: 1;
      }

      &__form {
            //  margin-top: 57px;
      }

      &__img {
            display: block;
            margin-top: -60px;
            width: 100%;
            object-fit: cover;
      }

      &__bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;

            p {
                  color: #777e90;
                  font-size: 1.4rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 1.7;
                  margin-right: 4px;
            }

            a {
                  color: #010101;
                  font-size: 1.4rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 1.7;
                  &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                  }
            }
      }
}
