<footer class="container footer">
      <div class="footer__inner">
            <div class="footer__grid-layout">
                  <div class="footer__col">
                        <h2 class="footer__title">Resources</h2>

                        <div class="footer__wrap-link"><a href="#!" class="footer__link">Dowload</a></div>
                        <div class="footer__wrap-link"><a href="#!" class="footer__link">Help Center</a></div>
                        <div class="footer__wrap-link"><a href="#!" class="footer__link">Guide Book</a></div>
                        <div class="footer__wrap-link"><a href="#!" class="footer__link">App Directory</a></div>
                  </div>
                  <div class="footer__col">
                        <h2 class="footer__title">Travellers</h2>

                        <div class="footer__wrap-link"><a href="#!" class="footer__link">Why Travellers</a></div>
                        <div class="footer__wrap-link"><a href="#!" class="footer__link">Enterprice</a></div>
                        <div class="footer__wrap-link"><a href="#!" class="footer__link">Custom Stories</a></div>
                        <div class="footer__wrap-link"><a href="#!" class="footer__link">Instagram Post</a></div>
                  </div>
                  <div class="footer__col">
                        <h2 class="footer__title">Company</h2>

                        <div class="footer__wrap-link"><a href="#!" class="footer__link">Travelling</a></div>
                        <div class="footer__wrap-link"><a href="#!" class="footer__link">About Location</a></div>
                        <div class="footer__wrap-link"><a href="#!" class="footer__link">Success</a></div>
                        <div class="footer__wrap-link"><a href="#!" class="footer__link">Information </a></div>
                  </div>
                  <div class="footer__col">
                        <h2 class="footer__title">Get in touch</h2>

                        <p class="footer__text">Feel free to get in touch with us vai email</p>
                        <div>
                              <a href="mailto:vuthithaogiang050400@gmail.com" class="footer__link mail"
                                    >email&#64;gmail.com
                              </a>
                        </div>
                  </div>
            </div>
            <div class="footer__separate"></div>
            <div class="footer__bottom">
                  <a href="#" class="logo">
                        <img alt="Safe Tour" src="../../../assets/icons/logo.svg" />
                  </a>
                  <div class="footer__navigation">
                        <div class="footer__nav-item">Home</div>
                        <div class="footer__nav-item">About</div>
                        <div class="footer__nav-item">Destinations</div>
                        <div class="footer__nav-item">Tours</div>
                        <div class="footer__nav-item">Blogs</div>
                  </div>
                  <div class="footer__socials">
                        <div class="footer__social">
                              <img class="footer__icon" alt="" src="../../../assets/icons/facebook.svg" />
                        </div>
                        <div class="footer__social">
                              <img class="footer__icon" alt="" src="../../../assets/icons/instagram.svg" />
                        </div>
                        <div class="footer__social">
                              <img class="footer__icon" alt="" src="../../../assets/icons/x-twitter.svg" />
                        </div>
                  </div>
            </div>
      </div>
</footer>
